*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 6rem;
  background: black;
}

.display input{
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  margin-left: 4.6rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: center;
  width: fit-content;
  outline: none;
  border: 0px;
  color: black;
  background: #ffff;
  font-family: monospace;
  font-style: italic;
}


.calculator{
  width: 30%;
  position: relative;
  background: black;
  border-radius: 2rem;
  border: #ffff 2px solid;
}

.keys{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3rem;
  position: relative;
}

.keys button{
  margin-left: 1rem;
  padding: 5%;
  border-radius: 3rem;
  background: rgb(253, 249, 249);
  color: #e21c1c;
  font-family: monospace;
  font-style: italic;
}


@media screen and (max-width: 768px){
  .display input{
    height: 3rem;
    width: 80%;
    margin: 3%;
    margin-left: 11%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    outline: none;
    border: 0px;
    color: black;
    background: #ffff;
    font-family: monospace;
    font-style: italic;
  }
  
  
  .calculator{
    width: 100%;
    background: black;
    border-radius: 2rem;
    border: #ffff 2px solid;
  }
  
  .keys{
   display: grid;
   grid-template-columns: auto auto auto;
   place-content: center;
   place-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
  }
  
  .keys button{
    margin-left: 1rem;
    padding: 5%;
    border-radius: 3rem;
    background: rgb(253, 249, 249);
    color: #e21c1c;
    font-family: monospace;
    font-style: italic;
  }
}

@media screen and (max-width: 813px){
  .display input{
    height: 3rem;
    width: 80%;
    margin: 3%;
    margin-left: 11%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    outline: none;
    border: 0px;
    color: black;
    background: #ffff;
    font-family: monospace;
    font-style: italic;
  }
  
  
  .calculator{
    width: 100%;
    background: black;
    border-radius: 2rem;
    border: #ffff 2px solid;
  }
  
  .keys{
   display: inline-block;
   justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    margin-left: 1rem;
  }
  
  .keys button{
    margin-left: 1rem;
    padding: 5%;
    border-radius: 3rem;
    background: rgb(253, 249, 249);
    color: #e21c1c;
    font-family: monospace;
    font-style: italic;
  }
}



